<!DOCTYPE html>
<html>
    <head>
        <title>Pruebas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="resources/framework/angularjs-v.1.7.2/js/angular.min.js"></script>
        <link rel="stylesheet" href="resources/framework/bootstrap-v.4.1.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/loanium.css">
    </head>
    <body ng-app>
        <div class="container mt-5">
            <h1>Titulo 1</h1>
            <h2>Titulo 2</h2>
            <h3>Titulo 3</h3>
            <p><a href="index.html">Inicio</a></p>
            <button>Botón</button>            
            <p><strong>Nombre:</strong> {{nombre}}</p>
            <p><strong>Correo:</strong> {{correo}}</p>
            <form id="formulario" name="formulario" novalidate>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" ng-model="nombre" required>
                    <!--<span ng-show="formulario.nombre.$touched && formulario.nombre.$error.required">Ingrese el nombre</span>-->
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" ng-model="correo" required>
                    <!--<span ng-show="formulario.correo.$touched && formulario.correo.$error.required">Ingrese el correo</span>-->
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>        
        <script src="resources/framework/bootstrap-v.4.1.2/js/jquery-3.3.1.slim.min.js"></script>
        <script src="resources/framework/bootstrap-v.4.1.2/js/popper.min.js"></script>
        <script src="resources/framework/bootstrap-v.4.1.2/js/bootstrap.min.js"></script>
    </body>
</html>
