* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #2a4765;
    font-weight: normal;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p, label, a, a:hover {
    color: #2a4765;
    font-weight: normal;
}

p {
    font-size: 20px;
    line-height: 28px;
}

a {
    font-size: 18px;
    line-height: 42px;
    cursor: pointer;
}

a:focus {
    outline: none;
}

.btn-loanium {
    font-size: 15px;
    padding: 10px;
    border-radius: 0.5rem;
    border: 0;
    transition: .5s;
}

.btn-loanium-block {
    width: 100%;
}

.btn-loanium:focus {
    outline: none;
}

.btn-admin {
    background-color: #fef1eb;
    color: #ff696a;
}

.btn-admin:hover, .btn-admin:focus {
    background-color: #ff696a;
    color: #fef1eb;
}

.btn-admin:focus {
    box-shadow: 1px 1px 1px 5px #fef1eb;
}

.btn-cliente {
    background-color: #e4f8f7;
    color: #21a598;
}

.btn-cliente:hover, .btn-cliente:focus {
    background-color: #21a598;
    color: #e4f8f7;
}

.btn-cliente:focus {
    box-shadow: 1px 1px 1px 5px #e4f8f7;
}

.btn-defecto {
    background-color: #f3f7f8;
    color: #9aa7b5;
}

.btn-defecto:hover {
    background-color: #eaeff2;
    color: #7d909f;
}

.btn-defecto:focus {
    background-color: #d7dfe2;
    color: #37516d;
}

.input-loanium {
    font-weight: lighter;
    border: 0;
    border-bottom: 1px solid #dadee1;
    padding: 5px;
    background-color: transparent;
}

.input-loanium:focus {
    outline: none;
}

.input-loanium-block {
    width: 100%;
}

input.ng-touched {
    color: #eef0f0;
    border-bottom-color: #20a598;
}

input.typing {
    color: #163f43;
    border-bottom-color: #dadee1;
}

input.ng-dirty {
    color: #163f43;
    border-bottom-color: #163f43;
}

input.ng-valid {
    color: #eef0f0;
    border-bottom-color: #20a598;
}

input.ng-invalid {
    color: #163f43;
    border-bottom-color: #dadee1;
}

span.campo-requerido {
    color: #f00;
}

.cerrar-modal {
    color: #2a4765;
}